@page "/drawcss"

<h3 class="monsupertitre">CSS Isolation</h3>

@if (IsLoading)
{
<div>
	<Loading /> 
</div>

<div>
	<LoadingAtom />
</div>
}
else
{
	<div>C'est chargé !</div>
}

@code {

	public bool IsLoading { get; private set; }

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		await Task.Delay(10000);
		IsLoading = false;
	}
}