@page "/faq"

<h3>FAQ</h3>
<p><u>Note</u> : Cette page FAQ est pour un post sur www.ctrl-alt-suppr.dev</p>

<section id="faq-content">
	<h4>Où trouver le code source ?</h4>
	<div class="content">
		<p>
			Tout le code source est sur <a href="https://github.com/AnthonyRyck/CodesPourDevTo" target="_blank">GitHub</a>
		</p>
	</div>

	<h4>Pourquoi cette application FansApp ?</h4>
	<div class="content">
		<p>
			C'est une application pour faire mes démonstrations pour mes articles.
		</p>
	</div>

	<h4>Où trouver les articles ?</h4>
	<div class="content">
		<p>
			Les articles sont tous sur <a href="https://www.ctrl-alt-suppr.dev" target="_blank">www.ctrl-alt-suppr.dev</a>
		</p>
	</div>
</section>

@code {

}
