@page "/"

@using ViewModels 
@inject IRenderViewModel ViewModel

<h1>Afficher dynamiquement des composants avec RenderFragment</h1>

Exemples pour le post sur https://www.ctrl-alt-suppr.dev/

<div>
	<button @onclick="ViewModel.DisplayCounter">Affiche Counter</button>
	<button @onclick="ViewModel.DisplayCompoAvecParam">Affiche composant avec paramètres</button>
	<button @onclick="ViewModel.DisplayFetchData">Affiche FetchData</button>
	<button @onclick="ViewModel.DisplayPageWithViewModel">Affiche page avec ViewModel</button>
	<button @onclick="ViewModel.DisplayHtml">Affiche HTML</button>
	<button @onclick="ViewModel.DisplayWithEventCallback">Affiche compo avec Eventcallback</button>
</div>

<div style="border:2px solid black; margin:5px;">

@if(ViewModel.DisplayRenderFragment != null)
{
	@ViewModel.DisplayRenderFragment
}

</div>