@using BlazorEventCallBack.Composants
@using BlazorEventCallBack.Data
@inject  FansService service

@page "/FansPage"

<h3>Page des fans</h3>

@foreach (var fan in service.FansCollection)
{
	<FanComponent EtreFan="fan"
					OnClickCallback="@(() => service.GetClick(fan.Nom))"/>
}

@code {

}
