<div>
	<label>Nom du nouveau fan :</label>
	<input type="text"
		   @bind="NameFan"
		   @oninput="(ui => { NameFan = ui.Value.ToString(); })" />

	<div class="row margin-5px">
		<button @onclick="@(() => GetNameFanCallBack.InvokeAsync(NameFan))">OK</button>
		<button @onclick="OnCancel">Cancel</button>
	</div>
</div>

@code {
	public string NameFan { get; set; }

	[Parameter]
	public EventCallback<string> GetNameFanCallBack { get; set; }

	[Parameter]
	public EventCallback OnCancel { get; set; }
}
