@using BlazorEventCallBack.Data


<div class="fanClub">
	@foreach (var fan in FanCollection)
	{
		<FanComponent EtreFan="fan"
					  ClickCallback="@(() => GetSonClickCallBack.InvokeAsync(fan.Nom))" />
	}
</div>

@code {

	[Parameter]
	public IEnumerable<Fan> FanCollection { get; set; }

	[Parameter]
	public EventCallback<string> GetSonClickCallBack { get; set; }
}
