@using BlazorEventCallBack.Data


<div class="fanClub">
	@foreach (var fan in FanCollection)
	{
		<FanComponent EtreFan="fan"
					  OnClickCallback="@(() => OnGetSonClickCallBack.InvokeAsync(fan.Nom))" />
	}
</div>

@code {

	[Parameter]
	public IEnumerable<Fan> FanCollection { get; set; }

	[Parameter]
	public EventCallback<string> OnGetSonClickCallBack { get; set; }
}
