@page "/"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> localizer

<h1>Hello, world!</h1>

<div>
	@localizer["WelcomeFanApp"].Value
</div>

<div>
	@localizer["DescriptionApp"].Value : <a href="https:\\www.ctrl-alt-suppr.dev" target="_blank">@localizer["MyBlog"].Value</a>
</div>