@using FansWasm.Shared

<div class="fanClub">
	@foreach (var fan in FanCollection)
	{
		<FanComponent EtreFan="fan"
					  ClickCallback="@(() => GetSonClickCallBack.InvokeAsync(fan.Id))"
					  OnClickToFanPage="@(() => OnClickToOpenFanPage.InvokeAsync(fan.Id))" />
	}
</div>

@code {

	[Parameter]
	public List<Fan> FanCollection { get; set; }

	[Parameter]
	public EventCallback<int> GetSonClickCallBack { get; set; }

	[Parameter]
	public EventCallback<int> OnClickToOpenFanPage { get; set; }
}
