@page "/"

<h1>Hello, world!</h1>

<div>
	Bienvenu sur l'application des Fans
</div>

<div>
	C'est une application demo pour mes articles pour Blazor Server et maintenant Blazor Web Assembly : <a href="https:\\www.ctrl-alt-suppr.dev" target="_blank">mon blog.</a>
</div>
